.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-weight: bold;
    font-size: 2rem;

}


.svg-icon{
    display: inline-block;
    padding-top: 0.2rem;
}