.nav{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: 10vh;
    font-weight: bold;
    font-size: 2rem;

}

/* nav li:hover{
    color: #3e6e81b7;
   
} */

@media (max-width: 336px) {
    .nav{
        font-size: 1rem;
    }

    .svg{
        width: 20px;
        height: 17px;
    }
}